@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body{

  background-color: #1485CC;
  font-family: "Nanum Gothic", sans-serif;
  padding-top: 13% !important;
}
/*
img.login_logo {
    width: 75%;
    margin-left: auto; margin-right: auto; display: block;

}*/
p.join_header_text {
    text-align: center;
    font-size: larger;
    font-family: bold;
}
.div_wrap{
    width:100%;


    margin:0px auto;
    padding:0px;
    overflow:hidden;

    text-align: center;
}
.content{

    width:90%;
    height:90%;
    margin:10% auto;
    padding:0px;
    overflow:hidden;
    text-align:center;
}

.content:after {content:""; clear:both; display:block;}

.content > div {
    float:left;

    width:100%;
    height:100%;
    padding: 10px;
    text-align: center;
    box-sizing:border-box;

}
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}
table.join_table {
    width: 100%;
    border:none solid;
    border-radius: 5px;
}
input[type="text"]{
  width:100%;
  background-color: #F0E535;
  border:none;
}
input[type="password"]{
  width:100%;
  background-color: #F0E535;
  border:none;
}
input.join_input {
    font-family: "Nanum Gothic", sans-serif;
    width: 92%;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 7%;
}
input.btn.join_btn {
    width: 45.5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #F0E535;
    border:none;
}
input.btn.reset_btn {
    width: 45.5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #E91E63;
    color:white;
    border:none;
}
input {
  -webkit-appearance: none;
}
input.id_check_button {
    position: absolute;
    top: 18.5%;
    right: 15%;
    border: 0;
    border-radius: 3px;
    background: #FFEB3B;
}
