.usermessage {
    border-bottom: 1px solid black;
    padding: 3% 0;
}

.messagetitle {
    border-top: 1px solid black;
    width: 100%;
}

th.massageicons {
    width: 10%;
}

th.massageprofile {
    width: 18%;
    text-align: center;
}

th.massageid {
    font-size: small;
    width: 70%;
    padding-left: 2%;
}

td.massagebody {
    padding-left: 2%;
    width: 70%;
    font-size: medium;
    font-weight: bold;
}

img.message_edit_icons {
    width: 40%;
    float: right;
    margin-right: 30%;
}

.userprofileimg {
    margin: 3% 0 3% 20%;
    width: 45px;
    height: 45px;
}
